body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#main {
  width: 100%;
  text-align: center;
}

.login {
  font-size: 1.3em;
}

input[type=text] {
  font-size: 1.4em;
  text-align: center;
  margin: 10px;
}

input[type=submit] {
  padding: 20px 80px;
  color: white;
  font-size: 1.3em;
  background: #519AA0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#aboutUs {
  width: 100%;
  text-align: center;
}

.header {
  color: white;
  font-size: 75px;
  background-image: url(../assets/forest.png);
  width: 100%;
}

a {
  text-decoration: none; 
}

h1 {
  margin-top: 0px;
}

.teamMembers {
  width: 100%;
}

.teamMember {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 10px;
}

.teamMember-photo {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}

.teamMember-quote {
  text-align: justify;
}